<%- include('./partials/header.ejs') %>

<div class="activity-main">

<div class="main-text-left">
<div id="main-text-activity" class="main-text">
  <div class="main-text-key">Total money </div>
  <div class="main-text-value"><%=money[0].totalMoney %></div>
</div>
<div id="main-text-activity" class="main-text">
  <div class="main-text-key">Borrowed money</div>
  <div class="main-text-value"> <%=money[0].borrowedMoney %></div>
</div>
<div id="main-text-activity" class="main-text">
  <div class="main-text-key">Lent money</div>
  <div class="main-text-value"> <%=money[0].lentMoney %></div>
</div>

</div>

<div class="main-right">
<div class="main-hello">Borrowed history</div>
<table>
<tr >
  <th >Name</th>
  <th id="table-desc-borrow-head" >Description</th>
  <th >Amount</th>
  <th >Action</th>
</tr>

 <% money[0].borrowHistory.forEach(transaction => { %>
      <tr>
          <td ><%= transaction.from  %></td>
        <td id="table-desc-borrow"><%=transaction.description  %> </td>
        <td><%=transaction.amount%> (rs)</td>
       <td> <%-include("./partials/deleteForm",
        {url: `/activity/${transaction._id}`}) %></td>
          </tr>
  <% }) %>
 </table>



  <div class="main-hello">Lent history</div>
  <table>
    <tr >
      <th >Name</th>
      <th id="table-desc-lend-head" >Description</th>
      <th >Amount</th>
      <th >Action</th>
    </tr>
  <% money[0].lendHistory.forEach(transaction => { %>
    <tr>
        <td class="main-activity-detail-info"><%= transaction.to  %></td>
      <td id="table-desc-lend" class="main-activity-detail-info"><%=transaction.description  %> </td>
      <td class="main-activity-detail-info"><%=transaction.amount%> (rs)</td>
      <td><%-include("./partials/deleteForm",
      {url: `/activity/lend/${transaction._id}`}) %></td>
    </tr>
<% }) %>

  </table>
</div>
  </div>


