<%- include('./partials/header.ejs') %>
<div class="main">
<div class="main-hello">Hello <%= user.name %> !</div>

<div class="main-info">
<div class="main-text">
    <div class="main-text-key">Total money(rs) : </div>
    <div class="main-text-value"><%=money[0].totalMoney %></div>
</div>
<div class="main-text">
    <div class="main-text-key">Borrowed money(rs) : </div>
    <div class="main-text-value"><%=money[0].borrowedMoney %></div>
</div>
<div class="main-text">
    <div class="main-text-key">Lent money(rs) : </div>
    <div class="main-text-value"><%=money[0].lentMoney %></div>
</div>

<form class="form" action="/?_method=PUT" method="POST">
    <div class='form-field'>
        <label id="add-money" class="form-field-label">Add money to total</label>
        <input  class="form-field-input" type="number" id="addMoney" name="addMoney">
    </div>
    <div class="form-field">
        <button class="form-field-btn" type="submit">Add</button>
    </div>
</form>
</div>
</div>

